.font-brand {
  font-family: "Playfair Display", serif;
  /*text-transform: capitalize;*/
  margin-bottom: 25px;
}
.color-gold { color: #ebcfa7; }
.color-brown { color: #9f8054; }
.bg-dark2 {
  background: #26282b;
  color: #fff;
}
.menu > ul > li > a {
  text-transform: uppercase;
}
.subheading {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
  opacity: 0.5;
}
.btn-outline-brown {
  border-color: #ebcfa7;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0;
  font-weight: 600;
  border: 2px solid #ebcfa7;
}
.btn-outline-brown:hover {
  color: #ebcfa7;
  box-shadow: 0 0 20px rgba(235, 207, 167, 0.4);
}
.btn-black {
  padding: 16px 40px 12px;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  background-color: #26282b;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.btn-black:hover {
  color: #fff;
  box-shadow: 0 0 20px rgba(235, 207, 167, 0.4);
}
.modal-header {
   padding: 0; 
   border-bottom: 0px solid #dee2e6; 
}
.modal-content {
  border-radius: 0;
  padding: 70px 35px 35px;
  background-color: #9f8053;
}

.pt-100 {
  padding-top: 100px;
}

/* Slide */
.bg-main {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0;
  background-size: auto 120%;
  background-size: cover;
  background-position: center top;
}
.bg-main > div > h1 {
  font-size: 2.5rem;
}

/* What we can? */
.what-we-can {
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 0 0;
}
.what-we-can .card {
  border: 0.5px solid rgb(255, 255, 255);
}
.what-we-can .card .image-cover:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /*background: #26282b;*/
  /*background: -moz-linear-gradient(161deg, #26282b 0%, rgba(38, 40, 43, 0.5) 50%, #9f8054 70%);*/
  /*background: -webkit-linear-gradient(161deg, #26282b 0%, rgba(38, 40, 43, 0.5) 50%, #9f8054 70%);*/
  /*background: linear-gradient(161deg, #26282b 0%, rgba(38, 40, 43, 0.5) 50%, #9f8054 70%);*/
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26282b",endColorstr="#9f8054",GradientType=1);*/
  background: rgb(38,40,43);
  opacity: 0.5;
}
.what-we-can .card-title {
  position: absolute;
  top: 2.50rem;
  color: #ebcfa7;
  text-transform: capitalize;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  /*text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);*/
}
.what-we-can .card-text {
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  font-family: "Comfortaa";
  margin-bottom: 1.25rem;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
}
.what-we-can .card-action {
  position: absolute;
  right: 1.25rem;
  left: 1.25rem;
  bottom: 2.50rem;
  text-align: center;
}

/* Section services */
.section-services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
}
.section-services figure {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #eee;
  margin: 15px 0;
}
.documentation-support {
  background-image: url(../img/services/service-1.jpg);
}
.architectural-design {
  background-image: url(../img/services/service-2.jpg);
}
.building-construction {
  background-image: url(../img/services/service-3.jpeg);
}
.interior-design {
  background-image: url(../img/services/service-4.jpg);
}
.documentation-support, 
.architectural-design, 
.building-construction, 
.interior-design {
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: -75% top;
}
.section-services figure img {
  width: 50%;
}
.section-services .image-block {
  width: 50%;
}
.section-services figure figcaption {
  width: 100%;
  padding: 25px 25px 25px 30%;
  /* margin-left: 25%; */
  background: rgb(255,255,255);
  background: -moz-linear-gradient(270deg, rgba(255,255,255,0.9528186274509804) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 85%);
  background: -webkit-linear-gradient(270deg, rgba(255,255,255,0.9528186274509804) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 85%);
  background: linear-gradient(270deg, rgba(255,255,255,0.9528186274509804) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 85%);
}
.section-services figure figcaption h4 {
  display: block;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  margin-bottom: 15px;
}
.section-services figure figcaption b {
  position: absolute;
  display: block;
  font-size: 70px;
  font-weight: 700;
  margin: -15px 0 0 -35px;
  opacity: 0.2;
}
.section-services figure figcaption h4 span {
  color: #9f8054;
  /*font-weight: bold;*/
}
.section-services figure figcaption small {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
  opacity: 0.5;
}
.section-services figure figcaption small:after {
  content: "";
  width: 50px;
  height: 1px;
  background: #26282b;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 4px;
  opacity: 0.5;
}

/* Section services 2 */
.section-services-2 {
  width: 100%;
  padding: 100px 0 0;
}
.section-services-2 .card {
  position: relative;
  width: 100%;
  min-height: 400px;
  max-height: 450px;
  overflow: hidden;
  border: 0 solid #fff;
  border-radius: 0;
  margin-bottom: 30px;
}
.section-services-2 .card .image-cover:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #26282b;
  background: -moz-linear-gradient(161deg, rgba(38, 40, 43, 0.2) 0%, #26282b 49%, #9f8054 100%);
  background: -webkit-linear-gradient(161deg, rgba(38, 40, 43, 0.2) 0%, #26282b 49%, #9f8054 100%);
  background: linear-gradient(161deg, rgba(38, 40, 43, 0.2) 0%, #26282b 49%, #9f8054 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26282b",endColorstr="#9f8054",GradientType=1);
  opacity: 0.65;
}
.section-services-2 .card .image-cover img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
.section-services-2 .card .card-content {
  position: absolute;
  right: 0;
  left: 0;
  /*top: 30px;*/
  bottom: 30px;
  padding: 30px;
  color: #fff;
}
.section-services-2 .card .card-content h2 {
  /*position: absolute;*/
  /*top: 60px;*/
  font-family: "Playfair Display", serif;
  color: #ebcfa7;
  margin-bottom: 15px;
  text-shadow: 1px 1px 40px rgba(0, 0, 0, 1);
}
.section-services-2 .card .card-content h5 {
  /*position: absolute;*/
  /*bottom: 60px;*/
  margin-bottom: 15px;
  text-shadow: 1px 1px 40px rgba(0, 0, 0, 1);
}
.section-services-2 .card .card-content .btn-group {

  /*position: absolute;*/
  /*bottom: 0;*/
}
@media (max-width: 480px) {

  .section-services-2 .card {
    max-width: none;
    margin-bottom: 30px;
  }
  .section-services-2 .card .image-cover img {
    width: 130%;
    max-width: none;
  }
  .section-services-2 .card .card-content {
    bottom: 15px;
    padding: 15px;
  }
  .section-services-2 .card .card-content h2 {
    font-size: 35px;
  }
  .section-services-2 .card .card-content h5 {
    font-size: 18px;
  }
}

/* INTRO */
.intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.intro figure {
  display: inline-block;
  margin-bottom: 0;
  background: #ebcfa7;
  position: relative;
}
.intro figure .pattern-bg {
  width: 120%;
  height: 100%;
  position: absolute;
  left: 5%;
  top: -5%;
  background: url(../img/side-pattern-bg.png);
  background-size: contain;
}
.intro figure .right-pattern-bg {
  left: -10%;
  top: -15%;
}
.intro figure .holder {
  position: relative;
  width: 100%;
  float: left;
  display: block !important;
  transform: translate(60px, -30px);
}
.intro figure .right-holder {
  transform: translate(-30px, 20px);
}
.intro figure .holder img {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
  width: 525px;
}
.intro .content-box {
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: -50px;
  padding-bottom: 50px;
}
.intro .content-box h2 {
  font-size: 2rem;
}
.intro .content-box b {
  display: block;
  font-size: 30px;
  font-weight: 800;
  opacity: 0.2;
}
.intro .content-box h4 {
  display: block;
  font-size: 32px;
  font-family: "Playfair Display", serif;
  margin-bottom: 15px;
}
.intro .content-box h4 span {
  color: #9f8054;
}
.intro .content-box h3 {
  font-weight: 600;
  margin-bottom: 30px;
}
.intro .content-box p {
  display: block;
  margin-bottom: 30px;
}
.intro .content-box a {
  display: inline-block;
  color: #26282b;
  font-weight: 600;
}
.intro .content-box a img {
  height: 46px;
  margin-right: 15px;
}
.intro .content-box a:hover {
  color: #9f8054;
  text-decoration: none;
}

/* Form App */
.contact-form {
  z-index: 60;
}

.app-form {
  width: 500px;
  max-width: 100%;
  padding: 80px 50px;
  color: #fff;
  background: #9f8054;
  position: relative;
  overflow: hidden;
}

/* Reviews */
.reviews {
  padding: 100px 0;
}
.reviews blockquote {
  min-height: 130px;
}
.reviews .carousel .carousel-inner {
  margin: 25px 0 0;
}
.reviews .carousel .carousel-indicators {
  bottom: -50px;
}
.reviews .carousel-indicators li {
  background-color: #000;
}
.bg-dark2 .carousel-indicators li {
  background-color: #fff;
}
.blockquote-footer {
  margin-top: 15px;
}

/* RESPONSIVE TABLET FIXES */
@media (max-width: 768px) {

}

/* RESPONSIVE MOBILE FIXES */
@media (max-width: 480px) {
  .page-header {
    padding-top: 100px;
    background-size: 250%;
  }
  .app-form {
    padding: 70px 25px;
  }
  .intro figure {
    width: 100%;
  }

  .intro figure .pattern-bg {
    width: 100%;
  }

  .intro figure .holder {
    transform: translate(0, -15px);
    padding: 0 5%;
  }

  .intro figure .holder img {
    width: 100%;
  }

  .intro .content-box {
    padding-left: 0;
  }
}

/* ------------------------------------------------------------------------ */
/*  FIXED BUTTON
/* ------------------------------------------------------------------------ */

.material-button-anim {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 10;
}

.material-button {
  position: relative;
  top: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  font-size: 1.6em;
  color: #fff;
  background: #2C98DE;
  border: none;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,.275);
  outline: none;
}
.material-button a {
  display: block;
  color: #fff;
}
.material-button-toggle {
  z-index: 3;
  width: 60px;
  height: 60px;
}
.material-button-toggle span {
  -webkit-transform: none;
  transform:         none;
  -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
  transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
}
.material-button-toggle.open {
  -webkit-transform: scale(1.1, 1.1);
  transform:         scale(1.1, 1.1);
  -webkit-animation: toggleBtnAnim .175s;
  animation:         toggleBtnAnim .175s;
}
.material-button-toggle.open span {
  /*-webkit-transform: rotate(45deg);*/
  /*transform:         rotate(45deg);*/
  /*-webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);*/
  /*transition:         transform .175s cubic-bazier(.175,.67,.83,.67);*/
}
.bg-whatsapp {
  background-color: #54cd62;
}
.bg-telegram {
  background-color: #3ba8eb;
}
.bg-ripple {
  background-color: #f26a6f;
}

#options {
  /*height: 70px;*/
}
.option {
  position: absolute;
}
.option .option1,
.option .option2,
.option .option3,
.option .option4 {
  -webkit-transform: translate3d(0,10px,0) scale(.5, .5);
  transform: translate3d(0,10px,0) scale(.5, .5);
}
.option.scale-on .option1 {
  -webkit-transform: translate3d(0, -260px, 0);
  transform:         translate3d(0, -260px, 0);
}
.option.scale-on .option2 {
  -webkit-transform: translate3d(0, -195px, 0);
  transform:         translate3d(0, -195px, 0);
}
.option.scale-on .option3 {
  -webkit-transform: translate3d(0, -130px, 0);
  transform:         translate3d(0, -130px, 0);
}
.option.scale-on .option4 {
  -webkit-transform: translate3d(0, -65px, 0);
  transform:         translate3d(0, -65px, 0);
}
.option.scale-on .option1,
.option.scale-on .option2,
.option.scale-on .option3,
.option.scale-on .option4 {
  -webkit-transition: all .175s;
  transition:         all .175s;
}

@keyframes toggleBtnAnim {
    0% {
        -webkit-transform: scale(1,1);
        transform:         scale(1,1);
    }
    50% {
        -webkit-transform: scale(1.2,1.2);
        transform:         scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1.3,1.3);
        transform:         scale(1.3,1.3);
    }
}
@-webkit-keyframes toggleBtnAnim {
    0% {
        -webkit-transform: scale(1,1);
        transform:         scale(1,1);
    }
    50% {
        -webkit-transform: scale(1.2,1.2);
        transform:         scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1.3,1.3);
        transform:         scale(1.3,1.3);
    }
}

/* Animation */
.pinkBg {
  background-image: linear-gradient(90deg, #fd5581, #fd8b55);
}
.material-button .ripple {
  position:absolute;
  width:120px;
  height:120px;
  z-index:-1;
  left:50%;
  top:50%;
  opacity:0;
  margin:-60px 0 0 -60px;
  border-radius:100px;
  -webkit-animation:ripple 1.8s infinite;
  animation:ripple 1.8s infinite
}
.material-button .ripple:nth-child(2) {
  animation-delay:.3s;
  -webkit-animation-delay:.3s
}
.material-button .ripple:nth-child(3) {
  animation-delay:.6s;
  -webkit-animation-delay:.6s
}
@-webkit-keyframes ripple {
  0%{
    opacity:1;
    -webkit-transform:scale(0);
    transform:scale(0)
  }
  100%{
    opacity:0;
    -webkit-transform:scale(1);
    transform:scale(1)
  }
}
@keyframes ripple {
  0%{
    opacity:1;
    -webkit-transform:scale(0);
    transform:scale(0)
  }
  100%{
    opacity:0;
    -webkit-transform:scale(1);
    transform:scale(1)
  }
}

